
:root {
  --primary: #181818; 
  --secondary: hsla(160, 100%, 37%, 1);
  --off-white: rgba(235, 235, 235, 0.64);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--off-white);
}